{% extends 'base_flan.html' %}

{% block 'content' %}
<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-4">Información de la Página</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id nisl id lorem rhoncus dapibus. Ut venenatis, velit at fermentum consectetur, sapien lacus volutpat risus, eget finibus tortor mauris sed odio.</p>
        <hr class="my-4">
        <p>Sed vel nunc ac mauris fermentum venenatis. Vestibulum scelerisque neque id dui condimentum, eget dictum arcu blandit.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Leer más</a>
        </p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Sección Uno</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id nisl id lorem rhoncus dapibus.</p>
            <p>Sed vel nunc ac mauris fermentum venenatis. Vestibulum scelerisque neque id dui condimentum, eget dictum arcu blandit.</p>
        </div>
        <div class="col-md-6">
            <h2>Sección Dos</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id nisl id lorem rhoncus dapibus.</p>
            <p>Sed vel nunc ac mauris fermentum venenatis. Vestibulum scelerisque neque id dui condimentum, eget dictum arcu blandit.</p>
        </div>
    </div>
</div>
{% endblock %}

{% block 'title'%}
    Onlyflans about
{% endblock %}