{% extends 'base.html' %}

{% block content %}
<section class="ftco-section">
<div class="container">
	<div class="row">
		<div class="col-lg-4"></div>
		<div class="col-lg-8">
			<h1 class="mt-4 mb-3">Formación Académica</h1>
			<div class="card">
				<div class="card-body">
				<h5 class="card-title">Ingeniería Civil Electrónica</h5>
				<p class="card-text">Universidad Tecnológica Metropolitana, Chile</p>
				<p class="card-text">2018-2023 (Titulado)</p>
				<p class="card-text">Licenciatura en Ciencias de la Ingeniería</p>
				</div>
			</div>
			<h1 class="mt-4 mb-3">Curso FullStack Python</h1>
			<div class="card">
				<div class="card-body">
				<h5 class="card-title">Desarrollado full stack</h5>
				<p class="card-text">Desafio LATAM</p>
				<p class="card-text">2024-actual</p>
				<p class="card-text">Duración de 400 horas, actualmente en curso</p>
				</div>
			</div>
			<h1 class="mt-4 mb-3">Formacion como guardia de seguridad</h1>
			<div class="card">
				<div class="card-body">
				<h5 class="card-title">Curso OS-10</h5>
				<p class="card-text">SENCE</p>
				<p class="card-text">2022</p>
				<p class="card-text">Certificado</p>
				</div>
			</div>
		</div>
</section>
{% endblock  %}